body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.uppercase {
    text-transform: uppercase;
}

.add-book {
    position: relative;
    background-color: hsl(19,57%,80%);
    padding: 0 20px;
}

.logo {
    height: 100px;
    margin-bottom: 50px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 80px;
    aspect-ratio: 1;
}

.web-title {
    font-size: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

form input {
    width: 100%;
    padding-bottom: 5px;
    border: none;
    outline: none;
    border-bottom: 1px dashed black;
    background-color: transparent;
    font-size: 1.1rem;
}

form input.blank {
    border-bottom: 1px dashed red;
}

form input::placeholder {
    color: rgba(0,0,0,0.5);
    font-size: 1.1rem;
}

form input:focus {
    border-bottom: 1px dashed white;
}

form .checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.1rem;
}

form .checkbox input {
    width: fit-content;
    transform: scale(1.5);
}

form button {
    border: none;
    color: white;
    padding: 20px 30px;
    background-color: hsl(207,47%,20%);
    align-self: center;
}

form button:hover {
    cursor: pointer;
    background-color: hsl(207,47%,10%);
}

.project-description {
    position: absolute;
    bottom: 40px;
    font-size: 1.1rem;
}

.project-description a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.project-description a:hover {
    text-decoration: underline;
}

.about:hover::before {
    position: absolute;
    bottom: 50px;
    left: 30px;
    content: 'This is a small library app, where you can add new books, delete old ones, change status of your books, to read/unread, and see your library statistics. The data is stored in localStorage';
    background-color: hsl(208,48%,24%);
    color: white;
    padding: 10px;
    text-align: center;
}

.about p {
    display: inline;
}

.book-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(9,30%,95%);
}

.book-log {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.25rem;
}

.delete-book {
    padding: 15px 25px;
    background-color: hsl(0,58%,56%);
    border: none;
    color: white;
    font-size: 1.25rem;
}

table, th, tr {
    border-collapse: collapse;
}

table th {
    border: none;
    padding: 20px 50px;
    color: white;
    font-weight: 400;
    background-color: hsl(208,48%,24%);
}

table td {
    text-align: center;
    border-bottom: 1px solid black;
    border-bottom-style: dashed;
    padding: 25px 0;
    font-size: 1.25 rem;
}

.remove-button {
    cursor: pointer;
}

.fa-check {
    color: green;
}

.fa-xmark {
    color: red;
}

.container > div {
    z-index: 10;
    width: 150px;
    aspect-ratio: 1;
    display: flex;
    background-color: red;
    border: 1px solid blue;
}